$color-background: #faf5fd;
$color-main: #8312c7;
$color-text: #000000;
$color-white: #ffffff;

@mixin heading-large {
    font-family: "Playfair Display", serif;
    font-weight: 900;
}
@mixin heading-small {
    font-family: "Playfair Display", serif;
    font-weight: 400;
}
@mixin text-large {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 1.3rem;
}
@mixin text-small {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}
@mixin button-small {
    @include text-large;
    display: block;
    color: $color-main;
    background-color: $color-white;
    width: 10rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-main;
}
@mixin button-large {
    @include text-large;
    display: block;
    background-color: $color-main;
    width: 16rem;
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-white;
}
@mixin content-backdrop {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
    );
}
@mixin block {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
button {
    border: none;
}
a.button-small {
    @include button-small();
}

.button-large {
    @include button-large;
}

.logo {
    @include heading-small;
    text-decoration: none;
    font-size: 1.5rem;
    color: $color-text;
}

.heading-small {
    @include heading-small;
}

.heading-large {
    @include heading-large;
    font-size: 5rem;
}
.text-large {
    @include text-large;
    font-weight: 400;
}

//styles

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background: url(imgs/lines.svg) $color-background;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.landing {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
.abstract {
    position: absolute;
    top: 15vh;
    right: 10rem;
    width: 35rem;
    height: 33rem;
    z-index: -1;
    opacity: 0.75;
    background-image: url(imgs/abstract.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    @include block;
    padding-top: 5vh;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

main {
    @include block;
    padding-top: 10vh;
    .description {
        h1 {
            @include heading-large;
            font-size: 5rem;
            line-height: 6rem;
            padding-bottom: 10vh;
            span {
                color: $color-main;
            }
        }
    }
}

.bottom {
    @include text-small;
    text-transform: uppercase;
    position: absolute;
    bottom: 5vh;
    width: 80%;
    margin-left: 10%;
    display: flex;
    p {
        margin-right: auto;
    }
    div {
        display: flex;
        align-items: center;
        i {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #008000;
            margin-right: 5px;
        }
    }
}

.info-wrapper {
    position: relative;
    margin-top: 15vh;
    height: 80vh;
    padding-top: 10vh;
    overflow-x: hidden;
    .info-left {
        z-index: 2;
        position: absolute;
        top: 15vh;
        left: 5px;
        margin-left: 10%;
        h2 {
            display: inline;
            background-color: $color-white;
        }
        p {
            margin-top: 5vh;
            width: 50%;
            background-color: $color-white;
        }
    }
    .info-right {
        position: absolute;
        right: -100px;
        perspective: 1000px;
        perspective-origin: 50% 50%;
        img {
            transform: rotateY(-20deg);
            &:nth-of-type(2) {
                position: absolute;
                top: 125px;
                left: 225px;
            }
        }
    }
}

@media (max-width: 1199px) {
    .abstract {
        opacity: 0.1;
    }
}

@media (max-width: 750px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 650px) {
}

@media (max-width: 575px) {
    html {
        font-size: 14px;
    }
    .abstract {
        top: -2vh;
        right: -18rem;
        width: 45rem;
        height: 43rem;
        opacity: 0.1;
    }

    header,
    main {
        width: 90%;
    }
    main > .description {
        h1 {
            font-size: 4rem;
            line-height: 5rem;
        }
    }
    .bottom {
        display: none;
    }
}

@media (max-width: 475px) {
    .abstract {
        top: 5vh;
        right: -14rem;
        opacity: 0.1;
    }
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
    br {
        display: none;
    }
    main > .description > h1 {
        font-size: 3.8rem;
    }
}
