$color-background: #faf5fd;
$color-main: #8312C7;
$color-text: #000000;
$color-white: #FFFFFF;

@mixin heading-large {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}
@mixin heading-small {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
@mixin text-large {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.3rem;
}
@mixin text-small {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}
@mixin button-small {
    @include text-large;
    color: $color-main;
    background-color: $color-white;
    width: 10rem;
    height: 3.5rem;
    text-align: center;
    border: none;
    text-transform: uppercase;
    a {
        text-decoration: none;
        color: $color-main;
    }
}
@mixin button-large {
    @include text-large;
    background-color: $color-main;
    width: 16rem;
    height: 4.5rem;
    text-align: center;
    border: none;
    text-transform: uppercase;
    a {
        text-decoration: none;
        color: $color-white;
    }
}
@mixin content-backdrop {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url(imgs/lines.svg) $color-background;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    overflow-x: hidden;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

button.button-small{
    @include button-small();
}

button.button-large {
    @include button-large;
}

.logo {
    @include heading-small;
    text-decoration: none;
    font-size: 1.5rem;
    color: $color-text;
}

.heading-small {
    @include heading-small;
}

.heading-large {
    @include heading-large;
    font-size: 5rem;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5vh;
}

main {
    display: flex;
    align-items: center;
    margin-top: 5vh;
    
    & > div {
        width: 50%;
        span {
            color: $color-main;
            position: relative;
            z-index: 1;
        }
        span::after {
            @include content-backdrop;
            width: 18rem;
            height: 18rem;
            left: -40px;
            top: -70px;
        }
        .abstract {
            width: 32.864rem;
            height: 29.047rem;
            background-image: url(imgs/abstract.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
        }
        .abstract::after {
            @include content-backdrop;
            left: 10px;
            top: 30px;
            width: 29rem;
            height: 29rem;
        }
    }
    button {
        margin-top: 10vh;
    }
}

bottom {
    @include text-large;
    position: absolute;
    bottom: 5vh;
    text-transform: uppercase;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 10vh;
    div {
        display: flex;
        align-items: center;
        i {
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #008000;
            margin-right: 0.25rem;
        }
    }
}



@media (max-width: 1199px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 850px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 770px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 650px) {
    html {
        font-size: 12px;
        overflow-x: hidden;
        width: 100%;
    }
    body {
        border: 2px solid red;
    }
    main {
        display: block;
        margin-top: 15vh;
        position: relative;
        
        & > div {
            width: 100%;
            &:nth-of-type(2) {
                position: absolute;
                left: 22px;
            }
            .abstract {
                width: 32.864rem;
                height: 29.047rem;
                background-image: url(imgs/abstract.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
            }
            .abstract::after {
                display: none;
            }
        }
        button {
            margin-top: 10vh;
        }
    }
    // main {
    //     margin-top: 15vh;
        
    //     & > div {
    //         width: 100%;
    //         .heading-large {
    //         }
    //         &:nth-of-type(2) {
    //             display: none;
    //         }
    //     }
    // }

    bottom {
        display: none;
    }
}

@media (max-width: 575.98px) {
    
}
