::-moz-selection {
  background-color: #8312c7;
  color: #ffffff;
}

::selection {
  background-color: #8312c7;
  color: #ffffff;
}

::-webkit-scrollbar {
  background-color: #ffffff;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #8312c7;
}

button {
  border: none;
}

a.button-small {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.3rem;
  display: block;
  color: #8312c7;
  background-color: #ffffff;
  width: 10rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
}

.button-large {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.3rem;
  display: block;
  background-color: #8312c7;
  width: 16rem;
  height: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.logo {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 1.5rem;
  color: #000000;
}

.heading-small {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.heading-large {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 5rem;
}

.text-large {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.3rem;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: url(imgs/lines.svg) #faf5fd;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.landing {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.abstract {
  position: absolute;
  top: 15vh;
  right: 10rem;
  width: 35rem;
  height: 33rem;
  z-index: -1;
  opacity: 0.75;
  background-image: url(imgs/abstract.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5vh;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10vh;
}

main .description h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 5rem;
  line-height: 6rem;
  padding-bottom: 10vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main .description h1 span {
  color: #8312c7;
}

.bottom {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 5vh;
  width: 80%;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom p {
  margin-right: auto;
}

.bottom div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom div i {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #008000;
  margin-right: 5px;
}

.info-wrapper {
  position: relative;
  margin-top: 15vh;
  height: 100vh;
  padding-top: 10vh;
  overflow-x: hidden;
}

.info-wrapper .info-left {
  z-index: 2;
  position: absolute;
  top: 15vh;
  margin-left: 10%;
}

.info-wrapper .info-left h2 {
  display: inline;
  background-color: #ffffff;
}

.info-wrapper .info-left p {
  margin-top: 5vh;
  width: 50%;
  background-color: #ffffff;
}

.info-wrapper .info-right {
  position: absolute;
  pointer-events: none;
  right: -100px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}

.info-wrapper .info-right img {
  -webkit-transform: rotateY(-20deg);
          transform: rotateY(-20deg);
}

.info-wrapper .info-right img:nth-of-type(2) {
  position: absolute;
  top: 125px;
  left: 225px;
}

.info-wrapper__second {
  margin-top: -20vh;
}

.info-wrapper__second .info-left {
  top: 15vh;
  right: 0;
  width: 50%;
}

.info-wrapper__second .info-left p {
  margin-top: 5vh;
  width: 90%;
}

.info-wrapper__second .info-right {
  left: -100px;
}

.info-wrapper__second .info-right img {
  -webkit-transform: rotateY(20deg);
          transform: rotateY(20deg);
}

.info-wrapper__second .info-right img:nth-of-type(2) {
  top: 200px;
  left: 225px;
}

.project {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  text-align: center;
  background-image: url(imgs/abstractTwo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.project h2 {
  display: inline-block;
  background-color: #ffffff;
}

.project p {
  display: inline-block;
  margin-top: 5vh;
  background-color: #ffffff;
}

.project div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project div button a img {
  vertical-align: sub;
  color: white;
  padding-bottom: 1.5px;
}

.project div button .button-large {
  width: 18rem;
}

.project div button .button-large-two {
  background-color: #ffffff;
  color: #8312c7;
}

.footer {
  margin-top: 30vh;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.804359)), color-stop(75%, rgba(255, 255, 255, 0.966824)), to(white));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.804359) 50%, rgba(255, 255, 255, 0.966824) 75%, white 100%);
  background-size: cover;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .top {
  padding-top: 25vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .top .footer-logo {
  width: 192px;
}

.footer .top p {
  text-transform: uppercase;
  font-weight: 900;
}

.footer .top .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .top .socials a {
  width: 40px;
  height: 40px;
  background-color: #000000;
  border-radius: 50%;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  background-image: url(imgs/dribble.svg);
  margin-left: 0.5rem;
}

.footer .top .socials a:nth-of-type(1) {
  background-color: #ffffff;
  background-image: url(imgs/dribble.svg);
  background-size: 100%;
}

.footer .top .socials a:nth-of-type(2) {
  background-image: url(imgs/linked.svg);
  background-size: 80%;
}

.footer .top .socials a:nth-of-type(3) {
  background-image: url(imgs/facebook.svg);
  background-color: #ffffff;
  background-size: 100%;
}

.footer .top .socials a:nth-of-type(4) {
  background-image: url(imgs/instagram.svg);
  background-color: #ffffff;
  background-size: 100%;
}

.footer .bot {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10vh;
  padding-bottom: 5vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  opacity: 0.5;
}

@media (max-width: 1199px) {
  .abstract {
    opacity: 0.1;
  }
  .landing {
    overflow-y: hidden;
  }
  .project div {
    width: 100%;
  }
  .project div button a img {
    padding-bottom: 1px;
  }
  .footer .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .top .logo {
    width: initial;
  }
  .footer .top > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .footer .bot {
    margin-top: 0vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 14px;
  }
  .info-wrapper {
    margin-bottom: -20vh;
  }
  .info-wrapper > .info-right img {
    width: 490px;
    height: 250px;
  }
  .info-wrapper__second > .info-right img {
    width: 250px;
    height: 250px;
  }
  .info-wrapper__second > .info-right img:nth-of-type(2) {
    position: absolute;
    top: 150px;
    left: 190px;
  }
}

@media (max-width: 650px) {
  .landing {
    margin-bottom: -20vh;
  }
  .info-wrapper {
    margin-top: 40vh;
  }
  .info-wrapper .info-left p {
    width: 80%;
  }
  .info-wrapper__second {
    margin-top: 0;
    height: 170vh;
  }
  .info-wrapper__second .info-left {
    top: 55vh;
    left: 0;
    width: 90%;
  }
  .info-wrapper__second .info-left p {
    width: 90%;
  }
  .info-wrapper__second .info-right img {
    width: 400px;
    height: 400px;
  }
  .project h2 {
    font-size: 4rem;
    line-height: 5rem;
  }
  .project div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project div button {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5vh;
  }
  .project div button a img {
    padding-bottom: 0px;
  }
  .footer {
    margin-top: 30vh;
    padding-bottom: 10vh;
  }
  .footer .top .socials {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 575px) {
  html {
    font-size: 14px;
  }
  .abstract {
    top: -2vh;
    right: -18rem;
    width: 45rem;
    height: 43rem;
    opacity: 0.1;
  }
  header,
  main {
    width: 90%;
  }
  main > .description h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
  .bottom {
    display: none;
  }
  .info-wrapper .info-left {
    margin-left: 5%;
  }
  .info-wrapper .info-left h2 {
    font-size: 4rem;
    line-height: 5rem;
  }
  .info-wrapper .info-left p {
    width: 90%;
  }
}

@media (max-width: 475px) {
  .abstract {
    top: 5vh;
    right: -14rem;
    opacity: 0.1;
  }
  .info-wrapper .info-right {
    right: -50px;
    top: 50px;
  }
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  br {
    display: none;
  }
  main > .description > h1 {
    font-size: 3.8rem;
  }
}
/*# sourceMappingURL=style.css.map */