button {
  border: none;
}

a.button-small {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.3rem;
  display: block;
  color: #8312C7;
  background-color: #FFFFFF;
  width: 10rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #8312C7;
}

.button-large {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.3rem;
  display: block;
  background-color: #8312C7;
  width: 16rem;
  height: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 1.5rem;
  color: #000000;
}

.heading-small {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.heading-large {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 5rem;
}

.text-large {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.3rem;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: url(imgs/lines.svg) #faf5fd;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.landing {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.abstract {
  position: absolute;
  top: 15vh;
  right: 10rem;
  width: 35rem;
  height: 33rem;
  z-index: -1;
  opacity: 0.75;
  background-image: url(imgs/abstract.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5vh;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10vh;
}

main .description h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 5rem;
  line-height: 6rem;
  padding-bottom: 10vh;
}

main .description h1 span {
  color: #8312C7;
}

.bottom {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 5vh;
  width: 80%;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom p {
  margin-right: auto;
}

.bottom div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom div i {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #008000;
  margin-right: 5px;
}

.info-wrapper {
  margin-top: 40vh;
  width: 100%;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-wrapper .info-left {
  margin-left: 10%;
}

.info-wrapper .info-right {
  overflow-x: hidden;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}

.info-wrapper .info-right img {
  -webkit-transform: rotateY(-20deg);
          transform: rotateY(-20deg);
}

.info-wrapper .info-right img:nth-of-type(2) {
  position: absolute;
  top: 125px;
  left: 225px;
}

.info-wrapper:nth-of-type(2) {
  display: none;
}

@media (max-width: 1199px) {
  .abstract {
    opacity: 0.1;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  html {
    font-size: 14px;
  }
  .abstract {
    top: -2vh;
    right: -18rem;
    width: 45rem;
    height: 43rem;
    opacity: 0.1;
  }
  header, main {
    width: 90%;
  }
  main > .description h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
  .bottom {
    display: none;
  }
}

@media (max-width: 475px) {
  .abstract {
    top: 5vh;
    right: -14rem;
    opacity: 0.1;
  }
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  br {
    display: none;
  }
  main > .description > h1 {
    font-size: 3.8rem;
  }
}
/*# sourceMappingURL=style.css.map */